<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 403 error message</title>
    <link rel="stylesheet" href="../static/css/style-page-forbiden.css" th:href="@{~/assets/css/style-page-forbiden.css}">
</head>
<body>
<!-- partial:index.partial.html -->
<head><link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
<div class="message">You are not authorized.
    <a class=" heading-sm" href="/">Best Shot</a>
</div>

<div class="message2">You tried to access a page you did not have prior authorization for.</div>
<div class="container">
    <div class="neon">403</div>
    <div class="door-frame">
        <div class="door">
            <div class="rectangle">
            </div>
            <div class="handle">
            </div>
            <div class="window">
                <div class="eye">
                </div>
                <div class="eye eye2">
                </div>
                <div class="leaf">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- partial -->

</body>
</html>
