<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Create Contest</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/camera-solid.svg" th:href="@{~/assets/img/camera-solid.svg}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{~/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{~/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" th:href="@{~/assets/css/style.css}" rel="stylesheet">
    <link href="../static/assets/css/variables.css" th:href="@{~/assets/css/variables.css}" rel="stylesheet">
    <link href="../static/assets/css/main.css" th:href="@{~/assets/css/main.css}" rel="stylesheet">

    <style>
        img {
            max-width: 350px;
        }
    </style>
</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="padded-30px"></div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <div style="float: left; padding-top: 10px">
            <a href="#" th:href="@{/}" class="logo d-flex align-items-center">
                <h1>Best </h1>
                <img style="padding-left: 2%" th:src="@{~/assets/img/pngegg.png}" alt="">
                <h1>Shot</h1>
            </a>
        </div>

        <nav id="navbar" class="navbar" style="float: right">
            <ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests}" href="#">Contests</a></li>
                <li th:if="${isAuthorized}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests/create}" href="#">Create
                    Contest</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/categories}" href="#">Categories</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/users}" href="#">Users</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/login}" href="#">Login</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/register}" href="#">Register</a>
                </li>
                <ul th:if="${userID != -1}">
                    <li class="dropdown"><a href="#"><span>Profile</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}(id=${userID})}"
                                   href="#">My Profile</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contests(id=${userID})}"
                                   href="#">My Contests</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/images(id=${userID})}"
                                   href="#">My Entries</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contestsasjuror(id=${userID})}"
                                   href="#">Juror Duties</a></li>
                        </ul>
                    </li>
                </ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/logout}" href="#">Logout</a></li>
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>

            <a href="#" class="mx-2 js-search-open"><span></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header><!-- End Header -->

<!-- ======= Book A Table Section ======= -->
<section class="section site-portfolio">
    <div class="container" th:align="center">
        <div class="row mb-5 align-items-center">
            <div class=" col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">

                <div class="section-title">
                    <h2><span>Create contest</span></h2>
                </div>

                <div class="book-a-table">
                    <form action="upload" enctype="multipart/form-data" th:action="@{/contests/create}"
                          th:object="${newContest}" method="post" role="form"
                          class="ws-form"
                          data-aos="fade-up" data-aos-delay="100">

                        <div class="form-row margin-bottom-30">

                            <div class="col-lg-9 form-group">
                                <label class="form-label"><h4>Contest title:</h4></label>
                                <input type="text" th:field="*{title}" name="name"
                                       class="form-control form-placeholder"
                                       placeholder="4-64 symbols">
                                <label class="error small-font" th:errors="*{title}">First name error
                                    placeholder</label>
                            </div>

                            <div class="form-group">
                                <label class="radio-button"><b>Join Type:</b></label>
                                <div class="custom-control custom-radio custom-control-inline"
                                     style="display: inline-block">
                                    <input type="radio" id="option1" name="Open" class="custom-control-input"
                                           value="1" th:field="*{isOpen}" th:value="${true}"
                                           th:text="${'Open'}">
                                    <label class="custom-control-label" for="option1"></label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline"
                                     style="display: inline-block">
                                    <input type="radio" id="option2" name="option2" class="custom-control-input"
                                           value="2" th:field="*{isOpen}" th:value="${false}"
                                           th:text="${'Invitational'}">
                                    <label class="custom-control-label" for="option2"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row margin-bottom-30">

                            <div class="col-lg-3 form-group">
                                <div class="row">
                                    <label class="dropdown-label"><b>Contest category:</b></label>
                                </div>
                                <div class="row">
                                    <input type="text" th:field="*{category}" name="name"
                                           class="form-control form-placeholder"
                                           placeholder="4-20 symbols"></div>
                            </div>

                            <div class="col-lg-9 form-group">
                                <label class="form-label"><b>Cover photo:</b></label>
                                <div class="form-input">
                                    <div class="preview">
                                        <img id="file-ip-1-preview">
                                    </div>
                                    <label>Upload Image</label>
                                    <input type="file" name="file" class="form-control-file"
                                           onchange="showPreview(event);" required>
                                </div>
                                <label class="error small-font" th:errors="*{backgroundImage}">First name error
                                    placeholder</label>
                            </div>
                            <script type="text/javascript">
                                function showPreview(event) {
                                    if (event.target.files.length > 0) {
                                        var src = URL.createObjectURL(event.target.files[0]);
                                        var preview = document.getElementById("file-ip-1-preview");
                                        preview.src = src;
                                        preview.style.display = "block";
                                    }
                                }
                            </script>

                        </div>

                        <div class="form-row margin-bottom-30">

                            <div class="col-lg-4 form-group">
                                <label class="form-label"> <b>Phase II starts:</b></label>
                                <input type="datetime-local" th:field="*{phaseTwoStartingTime}" name="name"
                                       class="form-control form-placeholder"
                                       placeholder="yyyy-MM-ddTHH:MM">
                                <label class="error small-font" th:errors="*{phaseTwoStartingTime}">Last name error
                                    placeholder</label>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label class="form-label"><b>Contest ends:</b></label>
                                <input type="datetime-local" th:field="*{contestEndingTime}" name="name"
                                       class="form-control form-placeholder"
                                       placeholder="yyyy-MM-ddTHH:MM">
                                <label class="error small-font" th:errors="*{contestEndingTime}">Last name error
                                    placeholder</label>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-lg-12 form-group">
                                <label class="form-label"><b>Guest jurors (ctrl + click to select more than
                                    one):</b></label>
                            </div>
                        </div>
                        <div class="form-row margin-100">
                            <div class="col-lg-8 form-group">
                                <select class="jurors-dropdown" th:field="*{addedJurors}" multiple>
                                    <option th:each="juror : ${eligibleJurors}"
                                            th:value="${juror.id}"
                                            th:text="${juror.firstName + ' ' + juror.lastName +
                                                                    ' | rank: ' + juror.getRank().toString() + ' | pts: ' + juror.points}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-lg-4 form-group">
                                <div class="text-center">
                                    <div class="row">
                                        <label class="error small-font" th:text="${error}">Name error
                                            placeholder</label>
                                    </div>
                                    <button id="button-create" type="submit">CREATE</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Book A Table Section -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="footer-legal">
            <div class=" text-center text-md-start mb-3 mb-md-0">
                <div class="copyright text-center">
                    © Copyright <strong><span>Telerik Academy</span></strong>. All Rights Reserved
                </div>
                <div class="credits text-center">
                    Designed by Stefan Sirakov & Iskren Danchev
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/aos/aos.js" th:src="@{~/assets/vendor/aos/aos.js}"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{~/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/photos-main.js" th:src="@{~/assets/js/photos-main.js}"></script>

</body>

</html>