<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Contest</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/camera-solid.svg" th:href="@{~/assets/img/camera-solid.svg}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{~/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{~/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css"
          th:href="@{~/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" th:href="@{~/assets/css/style.css}" rel="stylesheet">
    <link href="../static/assets/css/variables.css" th:href="@{~/assets/css/variables.css}" rel="stylesheet">
    <link href="../static/assets/css/main.css" th:href="@{~/assets/css/main.css}" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

        .span-button {
            position: relative;
            display: inline-flex;
            width: 180px;
            height: 55px;
            margin: 15px 15px;
            perspective: 1000px;
        }

        .span-button a {
            font-size: 19px;
            letter-spacing: 1px;
            transform-style: preserve-3d;
            transform: translateZ(-25px);
            transition: transform .25s;
            font-family: 'Montserrat', sans-serif;

        }

        .span-button a:before,
        .span-button a:after {
            position: absolute;
            content: "Upload Photo";
            height: 55px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid black;
            box-sizing: border-box;
            border-radius: 5px;
        }

        .span-button-invite {
            position: relative;
            display: inline-flex;
            width: 180px;
            height: 55px;
            margin: 15px 15px;
            perspective: 1000px;
        }

        .span-button-invite a {
            font-size: 19px;
            letter-spacing: 1px;
            transform-style: preserve-3d;
            transform: translateZ(-25px);
            transition: transform .25s;
            font-family: 'Montserrat', sans-serif;

        }

        .span-button-invite a:before,
        .span-button-invite a:after {
            position: absolute;
            content: "Invite Junkies";
            height: 55px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid black;
            box-sizing: border-box;
            border-radius: 5px;

        }

        .span-button-invite a:before {
            color: #fff;
            background: #000;
            transform: rotateY(0deg) translateZ(25px);
        }

        .span-button-invite a:after {
            color: #000;
            transform: rotateX(90deg) translateZ(25px);
        }

        .span-button-invite a:hover {
            transform: translateZ(-25px) rotateX(-90deg);
        }

        .span-button a:before {
            color: #fff;
            background: #000;
            transform: rotateY(0deg) translateZ(25px);
        }

        .span-button a:after {
            color: #000;
            transform: rotateX(90deg) translateZ(25px);
        }

        .span-button a:hover {
            transform: translateZ(-25px) rotateX(-90deg);
        }

        .background-text {
            position: relative;
        }

        .text-block {
            position: absolute;
            bottom: 30%;
            right: 30%;
            background-color: rgba(0, 0, 0, 0.58);
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }

        .cover {
            object-fit: cover;
        }

        @keyframes fade {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        * {
            padding: 0;
            border: 0;
            box-sizing: border-box;
        }

        body {
            height: 100%;
        }

        body h1 {
            text-align: center;
        }

        .slide-container {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1000px;
            margin: auto;
            position: relative;
        }

        .slide-container .slide {
            display: none;
            width: 100%;
        }

        .slide-container .slide.fade {
            animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        }

        .slide-container .slide img {
            width: 100%;
        }

        .slide-container .prev,
        .slide-container .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: rgb(3, 3, 3);
            font-weight: bold;
            font-size: 20px;
            transition: all 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        .slide-container .prev:hover,
        .slide-container .next:hover {
            background-color: rgb(3, 3, 3);
            color: #ffffff;
        }

        .slide-container .prev {
            left: 2px;
        }

        .slide-container .next {
            right: 2px;
        }

        .dots-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .dots-container .dot {
            cursor: pointer;
            margin: 5px;
            width: 20px;
            height: 20px;
            color: #333;
            border-radius: 50%;
            background-color: #dfd6ce;
        }

        .dots-container .dot.active {
            border: 2px solid green;
        }

        .font {
            font-family: 'Fredoka One', cursive;
        }
    </style>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <div style="float: left; padding-top: 10px">
            <a href="#" th:href="@{/}" class="logo d-flex align-items-center">
                <h1>Best </h1>
                <img style="padding-left: 2%" th:src="@{~/assets/img/pngegg.png}" alt="">
                <h1>Shot</h1>
            </a>
        </div>

        <nav id="navbar" class="navbar" style="float: right">
            <ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests}" href="#">Contests</a></li>
                <li th:if="${isAuthorized}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests/create}" href="#">Create
                    Contest</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/categories}" href="#">Categories</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/users}" href="#">Users</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/login}" href="#">Login</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/register}" href="#">Register</a>
                </li>
                <ul th:if="${userID != -1}">
                    <li class="dropdown"><a href="#"><span>Profile</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}(id=${userID})}"
                                   href="#">My Profile</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contests(id=${userID})}"
                                   href="#">My Contests</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/images(id=${userID})}"
                                   href="#">My Entries</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contestsasjuror(id=${userID})}"
                                   href="#">Juror Duties</a></li>
                        </ul>
                    </li>
                </ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/logout}" href="#">Logout</a></li>
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>

            <a href="#" class="mx-2 js-search-open"><span></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header><!-- End Header -->


<main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section-contest site-portfolio">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class=" col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
                    <div class="background-text">
                        <div th:if="${!contest.isOpen && contest.isUserJuror(userID) && contest.isInPhaseOne()}">
                            <div th:align="center">
                        <span class="span-button-invite"><a href="#"
                                                            th:href="@{__${#httpServletRequest.requestURI}__/invite}"></a>
                        </span>
                            </div>
                        </div>
                        <img th:src="${contest.getBackgroundImagePath()}"
                             class="cover img-fluid-contest-background col-md-12 col-lg-6 mb-4 mb-lg-0">
                        <div class="text-block" style="text-align: center;">
                            <h2 th:text="${contest.getTitle()}" data-aos="fade-up"
                                data-aos-delay="100">
                                Contest Title</h2>
                            <p class="filters col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up"
                               data-aos-delay="100" style="display: inline-block">
                                Category: <a style="color: white;" href="#"
                                             th:href="@{/categories/{id}(id=${contest.getCategory().getId()})}"
                                             th:text="${contest.getCategory().getName()}">Category name</a>
                            </p>
                            <p th:text="${contest.getTimeRemainingTillPhase2()}" data-aos="fade-up"
                               data-aos-delay="100">Time until</p>
                        </div>
                    </div>
                    <div th:align="center"
                         th:if="${contest.isInPhaseOne() && !contest.isOpen && contest.isUserInvited(userID)}">
                        <span class="span-button"><a href="#"
                                                     th:href="@{__${#httpServletRequest.requestURI}__/uploadimage}"></a>
                        </span>
                    </div>
                    <div th:align="center" th:if="${contest.isInPhaseOne() && contest.isOpen}">
                        <span class="span-button"><a href="#"
                                                     th:href="@{__${#httpServletRequest.requestURI}__/uploadimage}"></a>
                        </span>
                    </div>
                </div>
            </div>

            <div th:if="${contest.isFinished() && !contest.getImages().isEmpty()}">
                <h1 class="font">Winners:</h1>
                <hr class="my-4"/>

                <div class="slide-container">
                    <div th:each="evaluation :${evaluations}">
                        <div class="slide fade">
                            <a href="#" class="align-items-end"
                               th:href="@{__${#httpServletRequest.requestURI}__/image/{imageId}(imageId = ${evaluation.getImage().getId()})}">
                                <div class="img-bg-inner" style="text-align: center;">

                                    <h3 th:text="${evaluation.getImage().getTitle()}"
                                        style="color: #0b0c0e" class="font">Title</h3>
                                    <p th:text="'Place: ' + ${evaluation.getRankingPlaceAsString()}" class="font"
                                       style="color: #0b0c0e; display: inline-block">
                                        Place</p>
                                    <div style="display: inline-block">
                                        <p th:text="'Score: ' + ${evaluation.getImage().getTotalScore()}"
                                           style="color: #0b0c0e; display: inline-block" class="font">
                                            Score</p>

                                        <div class="post-meta font" style="display: inline-block">
                                            Uploaded by
                                            <a href="#"
                                               th:href="@{/users/{id}(id=${evaluation.getImage().getUser().getId()})}"
                                               th:text="${evaluation.getImage().getUser().getUsername()}">username</a>
                                        </div>
                                    </div>
                                </div>
                                <img class="img-bg d-flex "
                                     th:src="${evaluation.getImage().getImagePath()}"
                                     src="#">
                            </a>
                        </div>

                    </div>
                    <a href="#" class="prev" title="Previous">&#10094</a>
                    <a href="#" class="next" title="Next">&#10095</a></div>
                <div style="inline-size: fit-content; padding: 0% 35% 5% 40%">
                    <div th:each="evaluation : ${evaluations}" style="display: inline-block">
                        <div class="dots-container">
                            <span class="dot"></span>
                        </div>
                    </div>
                </div>
                </div>
                <div th:if="${contest.getImages().isEmpty()}" >
                    <h2 class="font text-center">There are no entries for this contest</h2>
                </div>

                <div th:unless="${contest.getImages().isEmpty()}">
                    <h2 class="font text-center">All Images</h2>
                    <hr class="my-4"/>
                    <div id="portfolio-grid" class=" row no-gutter" data-aos="fade-up" data-aos-delay="200">
                        <div th:each="image : ${images}">
                            <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
                                <a href="image.html"
                                   th:href="@{__${#httpServletRequest.requestURI}__/image/{imageId}(imageId = ${image.getId()})}"
                                   class="item-wrap fancybox">
                                    <div class="work-info img-sized">
                                        <h2 th:text="${image.getTitle()}">Image Title</h2>
                                        <span th:text="${image.getStory()}">Story</span>
                                    </div>
                                    <img class="img-fluid-contest" th:src="${image.getImagePath()}"
                                         src="../static/assets/img/img_1.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section><!-- End  Works Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="footer-legal">
            <div class=" text-center text-md-start mb-3 mb-md-0">
                <div class="copyright text-center">
                    © Copyright <strong><span>Telerik Academy</span></strong>. All Rights Reserved
                </div>
                <div class="credits text-center">
                    Designed by Stefan Sirakov & Iskren Danchev
                </div>
            </div>
        </div>
    </div>
</footer>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/aos/aos.js" th:src="@{~/assets/vendor/aos/aos.js}"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{~/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{~/assets/vendor/glightbox/js/glightbox.min.js}"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/photos-main.js" th:src="@{~/assets/js/photos-main.js}"></script>
<script src="../static/assets/js/main.js" th:src="@{~/assets/js/main.js}"></script>
<script src="../static/assets/js/index.js" th:src="@{~/assets/js/index.js}"></script>

</body>

</html>