<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Image</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/camera-solid.svg" th:href="@{~/assets/img/camera-solid.svg}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{~/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{~/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" th:href="@{~/assets/css/style.css}" rel="stylesheet">
    <link href="../static/assets/css/variables.css" th:href="@{~/assets/css/variables.css}" rel="stylesheet">
    <link href="../static/assets/css/main.css" th:href="@{~/assets/css/main.css}" rel="stylesheet">
    <style>
        .font {
            font-family: 'Fredoka One', cursive;
        }

        .button-image {
            background-color: rgba(47, 46, 46, 0.2); /* Green */
            border: none;
            color: white;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }

        .contest-link a:link, a:visited {
            background-color: white;
            color: black;
            /*border: 2px solid green;*/
            /*padding: 10px 0px;*/
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .contest-hover a:hover, a:active {
            background-color: rgba(14, 14, 14, 0.91);
            color: white;
        }

        .red-text {
            color: red;
        }

    </style>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <div style="float: left; padding-top: 10px">
            <a href="#" th:href="@{/}" class="logo d-flex align-items-center">
                <h1>Best </h1>
                <img style="padding-left: 2%" th:src="@{~/assets/img/pngegg.png}" alt="">
                <h1>Shot</h1>
            </a>
        </div>

        <nav id="navbar" class="navbar" style="float: right">
            <ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests}" href="#">Contests</a></li>
                <li th:if="${isAuthorized}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests/create}" href="#">Create
                    Contest</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/categories}" href="#">Categories</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/users}" href="#">Users</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/login}" href="#">Login</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/register}" href="#">Register</a>
                </li>
                <ul th:if="${userID != -1}">
                    <li class="dropdown"><a href="#"><span>Profile</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}(id=${userID})}"
                                   href="#">My Profile</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contests(id=${userID})}"
                                   href="#">My Contests</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/images(id=${userID})}"
                                   href="#">My Entries</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contestsasjuror(id=${userID})}"
                                   href="#">Juror Duties</a></li>
                        </ul>
                    </li>
                </ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/logout}" href="#">Logout</a></li>
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>

            <a href="#" class="mx-2 js-search-open"><span></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header><!-- End Header -->

<main id="main">

    <section class="section-image">
        <div class="container">
            <div class="row mb-4 align-items-center">
                <div class="col-md-6" data-aos="fade-up">
                    <h2 th:text="${image.getTitle()}" class="font">Image</h2>
                </div>
                <div class="post-meta" style="display: inline-block">
                    Uploaded by
                    <a href="#"
                       th:href="@{/users/{id}(id=${image.getUser().getId()})}"
                       th:text="${image.getUser().getUsername()}">username</a>
                </div>
                <div th:if="${contest.isFinished()}">
                    <div class="post-meta" th:each="evaluation : ${evaluations}">
                        <div th:if="${evaluation.getImage().getId() == image.getId()}" style="display: inline-block">
                            <h4 class="font" style="display: inline-block">Place: </h4>
                            <h4 th:text="${evaluation.getRankingPlaceAsString()}" class="font"
                                style="display: inline-block"></h4>
                        </div>
                    </div>
                    <div class="post-meta" style="display: inline-block">
                        Points:
                        <p th:text="${image.getTotalScore()}" style="display: inline-block">points</p>
                    </div>
                </div>

            </div>

            <div class="site-section pb-0">
                <div class="container">
                    <div class="row align-items-stretch">
                        <div class="col-md-8" data-aos="fade-up">
                            <img th:src="${image.getImagePath()}" alt="Image" class="img-fluid">

                            <hr class="my-4"/>

                            <div style="text-align: center;">
                                <div th:if="${contest.isUserJuror(userID)}">
                                    <div th:if="${image.isEvaluatedBy(userID)}">
                                        <b class="text-center red-text font" th:text="#{image.label.reviewed}">You
                                            already
                                            reviewed this
                                            image.</b>
                                    </div>
                                    <div th:if="${contest.isInPhaseOne() && !image.isEvaluatedBy(userID)}">
                                        <b class="text-center font" th:text="#{contest.label.phaseOne}">Contest is still
                                            in
                                            phase
                                            I, hence you can not yet review this image.</b>
                                    </div>
                                    <div th:if="${contest.isFinished()}">
                                        <b class="text-center font" th:text="#{contest.label.finished}">Contest has
                                            finished,
                                            hence
                                            you can not review this image.</b>
                                    </div>

                                    <div th:if="${!image.isEvaluatedBy(userID)}" style="text-align: center;">
                                        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/review}"
                                              th:object="${newReview}"
                                              method="post">
                                            <div class="align-text-center">
                                                <label class="form-label font"><b>Relevant:</b></label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline"
                                                 style="display: inline-block">
                                                <input type="radio" id="option1" name="Open"
                                                       class="custom-control-input"
                                                       value="1" th:field="*{valid}" th:value="${true}"
                                                       th:text="${'Relevant'}">
                                                <label class="custom-control-label" for="option1"></label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline"
                                                 style="display: inline-block">
                                                <input type="radio" id="option2" name="option2"
                                                       class="custom-control-input"
                                                       value="2" th:field="*{valid}" th:value="${false}"
                                                       th:text="${'Not Relevant'}">
                                                <label class="custom-control-label" for="option2"></label>
                                            </div>
                                            <div>
                                                <label class="form-label">
                                                    <b class="red-text font">If you deem the photo not matching contest
                                                        category,
                                                        please check the "Not Relevant" box.
                                                    </b></label>
                                            </div>
                                            <div class="text-center">
                                                <button class="button-image" type="submit">SUBMIT</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div th:if="${contest.isUserJuror(userID)}">
                                    <div th:if="${contest.isInPhaseTwo()}">
                                        <div th:unless="${image.isEvaluatedBy(userID)}">
                                            <hr class="my-4"/>
                                            <h4 class="h4 mb-3 font">Submit Your Review:</h4>

                                            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/review}"
                                                  th:object="${newReview}"
                                                  method="post">
                                                <label class="form-label"><b class="font">Score:</b></label>
                                                <input type="number" th:field="*{score}" name="name"
                                                       class="form-control form-placeholder"
                                                       min="1" max="10" required th:default="3"
                                                       placeholder="Range 1 - 10">
                                                <label class="error small-font red-text" th:errors="*{score}">Score
                                                    error
                                                    placeholder</label>

                                                <label class="form-label"><b class="font">Comment:</b></label>
                                                <textarea type="text" th:field="*{comment}" name="name"
                                                          class="form-control form-textbox-review" required
                                                          placeholder="Write a short comment..."></textarea>
                                                <label class="error small-font red-text" th:errors="*{comment}">Comment
                                                    error
                                                    placeholder</label>
                                                <div>
                                                    <label class="form-label">
                                                        <b style="text-align: center;" class="font">Only one review per
                                                            juror is allowed.
                                                            In
                                                            case you leave a photo
                                                            unevaluated, a default score of 3 will be awarded. Be
                                                            mindful!</b>
                                                    </label>
                                                </div>
                                                <div class="text-center">
                                                    <button class="button-image" id="button-create" type="submit">
                                                        EVALUATE
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${!contest.isFinished() && contest.isUserJurorOrParticipating(user) }"
                                 style="text-align: center;">
                                <b class="text-center font" th:text="#{contest.label.not.finished.riviews}">
                                    You will be able to see the reviews once the contest has finished.</b>
                            </div>

                            <div th:if="${contest.isFinished()}">
                                <div th:if="${!contest.isUserJurorOrParticipating(user)}" style="text-align: center;">
                                    <b class="text-center red-text font" th:text="#{image.label.not.participant}">You
                                        are not
                                        participating in the contest, hence you can not see the reviews.</b>
                                </div>

                                <div th:if="${image.getReviews().isEmpty()}">
                                    <h2 class="text-center font" style="text-align: center;"
                                        th:text="#{image.label.no.review}">
                                        No reviews</h2>
                                </div>

                                <div th:if="${contest.isUserJurorOrParticipating(user)}">
                                    <div th:unless="${image.getReviews().isEmpty()}">
                                        <div>
                                            <h1 class="text-center font" th:text="#{image.label.reviews}">Reviews</h1>
                                        </div>
                                        <hr class="my-4"/>
                                        <div th:each="review : ${image.getReviews()}">
                                            <div class="container px-400 px-lg-500">
                                                <div class="post-preview">
                                                    <div>
                                                        <p style="display: inline-block">Score: </p>
                                                        <p style="white-space:pre-wrap; display: inline-block"
                                                           th:text="${review.score}">score</p>
                                                    </div>
                                                    <div>
                                                        <p style="display: inline-block">Comment: </p>
                                                        <p style="white-space:pre-wrap; display: inline-block"
                                                           th:text="${review.comment}">comment</p>
                                                    </div>
                                                    <div class="post-meta" style="display: inline-block">
                                                        Reviewed by
                                                        <a href="#"
                                                           th:href="@{/users/{id}(id=${review.getJuror().getId()})}"
                                                           th:text="${review.getJuror().getUsername()}">juror</a>
                                                    </div>

                                                    <hr class="my-4"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
                            <div class="sticky-content">
                                <div class="contest-link contest-hover">
                                    <a href="#" th:href="@{/contests/{id}(id=${contest.getId()})}"
                                       th:text="${contest.getTitle()}" class="h3 font">Contest title</a>
                                </div>
                                <div class="contest-link contest-hover">
                                    <a href="#" th:href="@{/categories/{id}(id=${contest.getCategory().getId()})}"
                                       th:text="${contest.getCategory().getName()}" class="text-muted">Category name</a>
                                </div>
                                <div class="mb-5">
                                    <h3 style="margin-top: 10px" class="h3">Photo Story: </h3>
                                    <p th:text="${image.getStory()}">Story</p>
                                </div>

                                <div th:if="${contest.isUserJuror(userID)}">
                                    <div style="text-align: center;">
                                        <label class="form-label">
                                            <b class="font">If you deem the image offensive or inappropriate, delete it.
                                            </b></label>
                                        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/delete}"
                                              th:object="${image}"
                                              method="post">
                                            <input class="button-image" type="submit" value="Delete"/>
                                        </form>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="footer-legal">
            <div class=" text-center text-md-start mb-3 mb-md-0">
                <div class="copyright text-center">
                    © Copyright <strong><span>Telerik Academy</span></strong>. All Rights Reserved
                </div>
                <div class="credits text-center">
                    Designed by Stefan Sirakov & Iskren Danchev
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/aos/aos.js" th:src="@{~/assets/vendor/aos/aos.js}"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{~/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/photos-main.js" th:src="@{~/assets/js/photos-main.js}"></script>


</body>

</html>