<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- Favicons -->
    <link href="../static/assets/img/camera-solid.svg" th:href="@{~/assets/img/camera-solid.svg}" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css"
          th:href="@{assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/aos/aos.css" th:href="@{assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="../static/assets/css/style.css" th:href="@{~/assets/css/style.css}" rel="stylesheet">
    <link href="../static/assets/css/variables.css" th:href="@{~/assets/css/variables.css}" rel="stylesheet">
    <link href="../static/assets/css/main.css" th:href="@{~/assets/css/main.css}" rel="stylesheet">

    <style>
        .font {
            font-family: 'Fredoka One', cursive;        }
        .slide-container {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1000px;
            margin: auto;
            position: relative;
        }

        .slide-container .slide {
            display: none;
            width: 100%;
        }

        .slide-container .slide.fade {
            animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        }

        .slide-container .slide img {
            width: 100%;
        }

        .slide-container .prev,
        .slide-container .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: rgb(3, 3, 3);
            font-weight: bold;
            font-size: 20px;
            transition: all 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        .slide-container .prev:hover,
        .slide-container .next:hover {
            background-color: rgb(3, 3, 3);
            color: #ffffff;
        }

        .slide-container .prev {
            left: 2px;
        }

        .slide-container .next {
            right: 2px;
        }

        .dots-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .dots-container .dot {
            cursor: pointer;
            margin: 5px;
            width: 20px;
            height: 20px;
            color: #333;
            border-radius: 50%;
            background-color: #dfd6ce;
        }

        .dots-container .dot.active {
            border: 2px solid green;
        }

        .cover {
            object-fit: cover;
        }

        @keyframes fade {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        * {
            padding: 0;
            border: 0;
            box-sizing: border-box;
        }

        body {
            height: 100%;
        }

        body h1 {
            text-align: center;
        }


    </style>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <div style="float: left; padding-top: 10px">
            <a href="#" th:href="@{/}" class="logo d-flex align-items-center">
                <h1>Best </h1>
                <img style="padding-left: 2%" th:src="@{~/assets/img/pngegg.png}" alt="">
                <h1>Shot</h1>
            </a>
        </div>

        <nav id="navbar" class="navbar" style="float: right">
            <ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests}" href="#">Contests</a></li>
                <li th:if="${isAuthorized}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests/create}" href="#">Create
                    Contest</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/categories}" href="#">Categories</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/users}" href="#">Users</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/login}" href="#">Login</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/register}" href="#">Register</a>
                </li>
                <ul th:if="${userID != -1}">
                    <li class="dropdown"><a href="#"><span>Profile</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}(id=${userID})}"
                                   href="#">My Profile</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contests(id=${userID})}"
                                   href="#">My Contests</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/images(id=${userID})}"
                                   href="#">My Entries</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contestsasjuror(id=${userID})}"
                                   href="#">Juror Duties</a></li>
                        </ul>
                    </li>
                </ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/logout}" href="#">Logout</a></li>
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>

            <a href="#" class="mx-2 js-search-open"><span></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header><!-- End Header -->

<main id="main">
    <section class="section-contest site-portfolio" >
        <div class="container">
            <h1 class="font">Check some of our winners</h1>
            <hr class="my-4"/>
            <div class="slide-container">
                <div th:each="image :${evaluationsFirstPlace}">
                    <div class="slide fade" >
                        <a href="#" class="align-items-end"
                           th:href="@{contests/{contestId}/image/{imageId}(contestId =
                                    ${image.getContestId()}, imageId = ${image.getId()})}" >
                            <div class="img-bg-inner" style="text-align: center;">
                                <h3 th:text="${image.getTitle()}"
                                    style="color: #0b0c0e" class="font">Title</h3>
                                <div style="display: inline-block">
                                    <div class="post-meta" style="display: inline-block">
                                        Uploaded by
                                        <a href="#"
                                           th:href="@{/users/{id}(id=${image.getUser().getId()})}"
                                           th:text="${image.getUser().getUsername()}">username</a>
                                    </div>
                                </div>
                            </div>
                            <img class="img-bg d-flex "
                                 th:src="${image.getImagePath()}"
                                 src="#">
                        </a>
                    </div>

                </div>
                <a href="#" class="prev" title="Previous">&#10094</a>
                <a href="#" class="next" title="Next">&#10095</a></div>
            <div style="inline-size: fit-content; padding: 0% 40% 5% 40%">
                <div th:each="image : ${evaluationsFirstPlace}" style="display: inline-block">
                    <div class="dots-container">
                        <span class="dot"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="footer-content">
            <div class="footer-legal">
                <div class=" text-center text-md-start mb-3 mb-md-0">
                    <div class="copyright text-center">
                        © Copyright <strong><span>Telerik Academy</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits text-center">
                        Designed by Stefan Sirakov & Iskren Danchev
                    </div>
                </div>
            </div>
        </div>
    </footer>
</main><!-- End #main -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets/vendor/aos/aos.js" th:src="@{assets/vendor/aos/aos.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{assets/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<!-- Template Main JS File -->
<script src="../static/assets/js/photos-main.js" th:src="@{~/assets/js/photos-main.js}"></script>
<script src="../static/assets/js/main.js" th:src="@{~/assets/js/main.js}"></script>
<script src="../static/assets/js/index.js" th:src="@{~/assets/js/index.js}"></script>

</body>

</html>