<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Users - Photo Contest</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{~/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{~/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css"
          th:href="@{~/assets/vendor/glightbox/css/aos.css}" rel="stylesheet">
    <link href="../static/assets/vendor/aos/aos.css" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="../static/assets/css/style.css" th:href="@{~/assets/css/style.css}" rel="stylesheet">
    <link href="../static/assets/css/variables.css" th:href="@{~/assets/css/variables.css}" rel="stylesheet">
    <link href="../static/assets/css/main.css" th:href="@{~/assets/css/main.css}" rel="stylesheet">
<style>
    .button-image {
        background-color: rgba(3, 3, 3, 50); /* Green */
        border: none;
        color: white;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }
</style>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <div style="float: left; padding-top: 10px">
            <a href="#" th:href="@{/}" class="logo d-flex align-items-center">
                <h1>Best </h1>
                <img style="padding-left: 2%" th:src="@{~/assets/img/pngegg.png}" alt="">
                <h1>Shot</h1>
            </a>
        </div>

        <nav id="navbar" class="navbar" style="float: right">
            <ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests}" href="#">Contests</a></li>
                <li th:if="${isAuthorized}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests/create}" href="#">Create
                    Contest</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/categories}" href="#">Categories</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/users}" href="#">Users</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/login}" href="#">Login</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/register}" href="#">Register</a>
                </li>
                <ul th:if="${userID != -1}">
                    <li class="dropdown"><a href="#"><span>Profile</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}(id=${userID})}"
                                   href="#">My Profile</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contests(id=${userID})}"
                                   href="#">My Contests</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/images(id=${userID})}"
                                   href="#">My Entries</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contestsasjuror(id=${userID})}"
                                   href="#">Juror Duties</a></li>
                        </ul>
                    </li>
                </ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/logout}" href="#">Logout</a></li>
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>

            <a href="#" class="mx-2 js-search-open"><span></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header><!-- End Header -->
<br/>
<main id="main">
    <div style="margin-top: 6%">
        <div class="row">
            <div class="col" style="text-align: center">
                <img th:src="${user.getAvatarRelPath()}"
                     style="width: 250px; height: 250px; object-fit: cover;">
            </div>
            <div class="col" style="text-align: center">
                <div style="padding-left: 5%">
                    <h1 th:text="${user.getUsername()}">Username</h1>
                    <div th:unless="${user.isDeleted()}">
                        <h3 th:text="${user.getFirstAndLastName()}">First and Last name</h3>
                        <h3 th:text="${user.getEmail()}">Email</h3>
                        <div th:unless="${user.isOrganiser()}">
                            <h3 th:text="${user.getRankInfo()}">Rank</h3>
                            <h3 th:text="${user.getPointsInfo()}">Points</h3>
                        </div>

                    </div>
                    <div th:if="${user.isDeleted()}">
                        <div style="color: red">
                            <h3>Deleted Profile</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="text-align: center">
                    <div th:if="${user.getId() == userID}">

                            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/update}"
                                  th:object="${user}"
                                  method="get">
                                <div class="text-center">
                                    <button class="button-image" type="submit">Change Account Details</button>
                                </div>
                            </form>
                        <br/>

                            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/change-password}"
                                  th:object="${user}"
                                  method="get">
                                <div class="text-center">
                                    <button class="button-image" type="submit">Change Password</button>
                                </div>
                            </form>
                        <br/>
                            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/change-avatar}"
                                  th:object="${user}"
                                  method="get">
                                <div class="text-center">
                                    <button class="button-image" type="submit">Change Avatar</button>
                                </div>
                            </form>
                        <br/>
                        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/delete}" th:object="${user}"
                              method="post">
                            <div class="text-center">
                                <button class="button-image" type="submit">Delete Profile</button>
                            </div>
                        </form>
                    </div>
                    <div th:if="${!user.isDeleted() && !user.isOrganiser() && !(user.getId() == userID) && isAuthorized}">
                        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/promote}"
                              th:object="${user}"
                              method="post">
                            <div class="text-center">
                                <button class="button-image" type="submit">Promote to Organizer</button>
                            </div>
<!--                            <input type="submit" value=""/>-->
                        </form>
                    </div>
                <div th:if="${user.getId() != userID}">
                    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/contests}"
                          th:object="${user}"
                          method="get">
                        <div class="text-center">
                            <button class="button-image" type="submit">Contests participating in</button>
                        </div>
                    </form>
                    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/images}"
                          th:object="${user}"
                          method="get">
                        <div class="text-center">
                            <button class="button-image" type="submit">User images</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <hr class="my-4"/>

</main>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="footer-legal">
            <div class=" text-center text-md-start mb-3 mb-md-0">
                <div class="copyright text-center">
                    © Copyright <strong><span>Telerik Academy</span></strong>. All Rights Reserved
                </div>
                <div class="credits text-center">
                    Designed by Stefan Sirakov & Iskren Danchev
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/aos/aos.js" th:src="@{~/assets/vendor/aos/aos.js}"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{~/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/photos-main.js" th:src="@{~/assets/js/photos-main.js}"></script>
</body>

</html>
