<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>My Contests</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/camera-solid.svg" th:href="@{~/assets/img/camera-solid.svg}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{~/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{~/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" th:href="@{~/assets/css/style.css}" rel="stylesheet">
    <link href="../static/assets/css/variables.css" th:href="@{~/assets/css/variables.css}" rel="stylesheet">
    <link href="../static/assets/css/main.css" th:href="@{~/assets/css/main.css}" rel="stylesheet">

    <style>
        .font {
            font-family: 'Fredoka One', cursive;
        }

        .center {
            margin: auto;
            width: 60%;
            border: 5px solid rgb(255, 255, 255);
            padding: 10px;
        }


    </style>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <div style="float: left; padding-top: 10px">
            <a href="#" th:href="@{/}" class="logo d-flex align-items-center">
                <h1>Best </h1>
                <img style="padding-left: 2%" th:src="@{~/assets/img/pngegg.png}" alt="">
                <h1>Shot</h1>
            </a>
        </div>

        <nav id="navbar" class="navbar" style="float: right">
            <ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests}" href="#">Contests</a></li>
                <li th:if="${isAuthorized}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/contests/create}" href="#">Create
                    Contest</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/categories}" href="#">Categories</a></li>
                <li th:if="${userID  != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                 th:href="@{/users}" href="#">Users</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/login}" href="#">Login</a></li>
                <li th:if="${userID == -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/register}" href="#">Register</a>
                </li>
                <ul th:if="${userID != -1}">
                    <li class="dropdown"><a href="#"><span>Profile</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}(id=${userID})}"
                                   href="#">My Profile</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contests(id=${userID})}"
                                   href="#">My Contests</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/images(id=${userID})}"
                                   href="#">My Entries</a></li>
                            <li><a class="nav-link px-lg-3 py-3 py-lg-4"
                                   th:href="@{/users/{id}/contestsasjuror(id=${userID})}"
                                   href="#">Juror Duties</a></li>
                        </ul>
                    </li>
                </ul>
                <li th:if="${userID != -1}" class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                                                th:href="@{/auth/logout}" href="#">Logout</a></li>
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>
            <a href="#" class="mx-2"><span></span></a>

            <a href="#" class="mx-2 js-search-open"><span></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header><!-- End Header -->

<main id="main">
    <section>
        <div class="container">
            <div class="row-contests">

                <div class="container-post-heading position-static px-4 px-lg-5" style="clear: both">

                    <form class="col-lg-12 d-flex justify-content-center"
                          action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                          th:object="${filterContestDto}" method="post">

                        <select class="filter-dropdown" th:field="*{categoryId}">
                            <option selected th:value="null">All Catogories</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.getId()}"
                                    th:text="${category.getName()}">
                                Category
                            </option>

                        </select>

                        <select class="filter-dropdown" th:field="*{phase}">
                            <option th:value="${null}" th:text="'All phases'" selected></option>
                            <option th:each="phase : ${phases}"
                                    th:value="${phase}"
                                    th:text="${phase}">
                                Phases
                            </option>
                        </select>

                        <input type="text" class="filter-field" th:field="*{title}"
                               placeholder="Search in contests...">

                        <button type="submit" class="btn btn-menu filter-button">Filter</button>
                        <label class="error-light small-font" th:errors="*{title}">Search error placeholder</label>
                    </form>
                </div>

                <div style="margin-top: 10px" class="col-md-9 center" data-aos="fade-up">
                    <div th:if="${userToView.getId() != userID}">
                        <label class="form-label"><h3 class="font " style="text-align: center"
                                                      th:text="'Contests ' + ${userToView.getUsername()} + ' is participating in'">
                            Contests user is participating in</h3></label>
                    </div>
                    <div th:if="${userToView.getId() == userID}">
                        <label class="form-label "><h3 class="font " style="text-align: center">Contests I'm
                            participating in</h3></label>
                    </div>
                    <div th:each="contest : ${userContests}">
                        <div class="d-md-flex post-entry-2 half">
                            <a href="#" th:href="@{/contests/{id}(id=${contest.getId()})}" class="me-4 thumbnail">
                                <img th:src="${contest.getBackgroundImagePath()}" alt="" class="img-fluid">
                            </a>
                            <div>
                                <div class="post-meta"><span class="date">Phase </span> <span
                                        class="mx-1">&bullet;</span>
                                    <span th:text="${contest.getPhaseAsString()}">phase</span></div>
                                <h3 class="font">
                                    <a href="#" th:text="${contest.getTitle()}"
                                       th:href="@{/contests/{id}(id=${contest.getId()})}">Title</a>
                                </h3>
                                <p style="display: inline-block">Category:
                                    <a href="#" th:href="@{/categories/{id}(id=${contest.getCategory().getId()})}"
                                       th:text="${contest.getCategory().getName()}">Category name</a></p>
                                <p>Participants:
                                    <span th:text="${contest.getParticipantsSize()}">number</span>
                                </p>
                                <p>Type:
                                    <span th:text="${contest.getIsOpenAsString()}">type</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="footer-legal">
            <div class=" text-center text-md-start mb-3 mb-md-0">
                <div class="copyright text-center">
                    © Copyright <strong><span>Telerik Academy</span></strong>. All Rights Reserved
                </div>
                <div class="credits text-center">
                    Designed by Stefan Sirakov & Iskren Danchev
                </div>
            </div>
        </div>
    </div>
</footer>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/aos/aos.js" th:src="@{~/assets/vendor/aos/aos.js}"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{~/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/photos-main.js" th:src="@{~/assets/js/photos-main.js}"></script>

</body>

</html>